<%- include('partials/header') -%>

<h1> <%= title %> </h1>
<p> <%= content %> </p>

<form action="" method="post">
    <button class="btn btn-lg btn-success" type="submit" name="button">Get Back</button>
</form>

<%- include('partials/footer') -%>